.aside {
  width: 250px;
  height: 300px;
  margin-top: 50px;
}

.aside ul li {
  margin-bottom: 30px;
  font-weight: 600;
}

.aside_used {
  width: 250px;
  height: 300px;
  margin-top: 50px;
}

.used {
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #173153;
  color: #fff;
}